<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Potrzebujesz rozwiązań zadań z matematyki na poziomie liceum lub studiów?</h2>
                <hr class="light">
                <p class="text-faded">Oferuję czytelnie opracowane rozwiązania wraz ze wszystkimi objaśnieniami potrzebnymi by je zrozumieć. Umiem robić zadania na niemal dowolnym poziomie trudności, również z kierunków studiów takich jak matematyka czy informatyka. Gwarantuję pełną matematyczną poprawność rozwiązań i zrozumiały zapis.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Dalej</a>
            </div>
        </div>
    </div>
</section>
