<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/mat (1).png" class="portfolio-box">
                    <img src="img/portfolio/mat (1).png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Przykładowe rozwiązanie:
                            </div>
                            <div class="project-name">
                                Algorytm Euklidesa
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/mat (2)2.png" class="portfolio-box">
                    <img src="img/portfolio/mat (2)2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Przykładowe rozwiązanie:
                            </div>
                            <div class="project-name">
                                Algebra liniowa
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/mat (3)2.png" class="portfolio-box">
                    <img src="img/portfolio/mat (3)2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Przykładowe rozwiązanie:
                            </div>
                            <div class="project-name">
                                Analiza matematyczna
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/mat (4).png" class="portfolio-box">
                    <img src="img/portfolio/mat (4).png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Przykładowe rozwiązanie:
                            </div>
                            <div class="project-name">
                                Rekurencje
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/mat (5)2.png" class="portfolio-box">
                    <img src="img/portfolio/mat (5)2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Przykładowe rozwiązanie:
                            </div>
                            <div class="project-name">
                                Rachunek prawdopodobieństwa
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/mat (6).png" class="portfolio-box">
                    <img src="img/portfolio/mat (6).png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Przykładowe rozwiązanie:
                            </div>
                            <div class="project-name">
                                Zasada włączeń i wyłączeń
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
